.admin {
  width: 100%;
  &-header {
    width: 85%;
    background-color: $main-color;
    height: 62px;
    display: flex;
    justify-content: end;
    align-items: center;
    vertical-align: middle;
    float: right;
    padding-right: 30px;
    a {
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
      color: #ffffff;
    }
    > span:first-child {
      margin-right: 15px;
    }
  }
  &-nav {
    height: 132px;
    a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
    }
    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      vertical-align: middle;
      padding: 10px;
    }
    .middle-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      vertical-align: middle;
      padding: 10px;

      .modal-table {
        position: fixed;
        height: 100vh;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: #000000a7;
      }
      .search-by-tag {
        width: 50%;
        align-items: start;
      }
    }
  }
  table {
    width: 100%;
    margin: auto;
    td:last-child {
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 1;
      transition: all 0.3s ease-in-out;
      &:hover {
    
        button {
          &:hover {
            background-color: wheat;
            transition: all 0.3s ease-in-out;
          }
          border-radius: 6px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.hidden-modal {
  display: none;
  transition: all 0.5s linear;
  &::after {
    display: block;
    transition: all 0.5s linear;
  }
}

//MODAL CSS

//! DELETE
.modal-dialog {
  top: 10%;
  border-radius: 20px;
  .modal-header {
    background-color: $warning-color;
    h1 {
      color: white;
    }
  }
  .del-user-button {
    background-color: $warning-color;
    font-size: 14px;
    padding: 6px 21px;
    border-radius: 5px;
    font-family: "Inter";
  }
  .cancel-button {
    color: black;
    background: none;
    margin-right: 20px;
  }
  .btn-close {
    display: none;
  }
  img {
    display: inline;
  }
}

//! UPDATE
.edit-user {
  .modal-dialog {
    .modal-header {
      background-color: #ffffff;
      h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: #006c84;
      }
    }
  }
}

label {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
//! CREATE
#createRoleModal {
  width: 100vw;
  height: 100vh;
  .modal-dialog {
    margin: auto;
    .modal-content {
      // width: 60vw;
      height: max-content;
      margin: auto;
      padding-bottom: 50px;
    }
    overflow: unset;
  }
}

//! USER DETAIL

#block-drop .block {
  inset: -24px auto auto -13px !important;
}
.css-1fdsijx-ValueContainer {
  font-size: 12px;
  option {
    font-size: 13px;
  }
}
.css-1nmdiq5-menu {
  font-size: 13px;
}

//PAGINATION

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: black;
    font-size: 12px;
    border: none;
    padding: 7px 14px;
    font-style: normal;
    font-family: "Rubik";
    font-weight: 300;
    font-size: 14px;
    background: none;
    &:hover {
      border-radius: 2px;
      color: black;
    }
  }
  li:first-child,
  li:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 13px;
    background: #dfdfdf;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    span {
      padding: 0;
    }
  }
  li {
    margin: 0 5px;
  }
  .active {
    height: fit-content;
    span {
      background: #20a89e;
      box-shadow: 0px 10px 9px rgba(0, 119, 255, 0.19);
      border-radius: 2px;
      border: none;
      padding: 7px 14px;
      color: white;
    }
  }
}
