.page-header {
    width: 100%;
    height: 61px;
    background: #ffffff;
    border-bottom: 2px solid $main-color;
}
.page-layout {
    background: #f7fbfa;
    padding: 10px;
}
.material-main {
    margin-top: 30px;
}
.layout-create {
}
.form-header {
    height: fit-content;
    margin-bottom: -50px;
}
.item-material {
    transition: all 0.2s ease-in-out;
    text-align: left;
    border-bottom: 0.5px solid #646464;
    td {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        padding: 16px 0;
        text-transform: capitalize;
        span {
            text-align: left;
        }
        &:nth-child(1) {
            padding: 0 5px;
        }
        &:nth-child(5),
        &:nth-child(6) {
            text-align: center;
        }
    }

    .status-disable {
        padding: 2.5px 19px;
        background-color: #dc3545;
        color: white;
        border-radius: 16px;
        width: 88px;
        font-size: 15px;
    }
    .status-available {
        padding: 2.5px 13px;
        width: 88px;
        background-color: $main-color;
        color: white;
        font-size: 15px;
        border-radius: 16px;
    }
}
.checkbox-material{
    input {
        border-radius: 50%;}

}
input {
    &:focus {
        --tw-ring-offset-color: unset !important;
        --tw-ring-color: transparent !important;
        --tw-ring-offset-shadow: unset !important;
        --tw-ring-shadow: unset !important;
    }
    &[type="checkbox"]:checked {
        background-color: $main-color;
    }
}

.input-checked-table {
    background-color: rgba(29, 185, 84, 0.1);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: transparent;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}
.middle-main {
    table {
        table-layout: fixed;
    }
    thead {
        border-bottom: 1px solid #646464;
        position: static;
        top: 0;
    }
    th {
        padding: 15px 0 11px 0;
        text-align: left;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        &:nth-child(1) {
            width: 3%;
        }
        &:nth-child(5),
        &:nth-child(6) {
            text-align: center;
        }
    }
    .header-option {
        width: 3%;
    }
}
.material-footer {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: white;
    label {
        font-family: "rubik";
        font-style: normal;
        font-weight: 200;
        font-size: 17px;
        line-height: 22px;
    }
    select {
        font-family: "rubik";
        font-style: normal;
        font-weight: 200;
        font-size: 17px;
        line-height: 22px;
        margin: 0 10px;
        padding: 5px 20px 5px 10px;
        border: none;
        background: rgba(233, 233, 233, 0.71);
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-image: url(../public/dropdown-icon.svg);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 37px;
    }
}

//CREATE MATERIAL

.button-switch-create {
    height: 56px;
    width: 189px;
    background: rgba(224, 224, 224, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}
.button-switch-create {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    span {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        cursor: pointer;
        text-align: center;
        position: relative;
        z-index: 2;
        width: 50%;
        transition: all 0.4s ease-in-out;
        &:hover {
            color: #0f948b;
            transition: all 0.4s ease-in-out;
        }
    }
    span:nth-child(3) {
        position: absolute;
        left: 4%;
        bottom: 50%;
        transform: translateY(50%);
        width: 81px;
        height: 45px;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 18px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.4s ease-in-out;
    }
    .switch-active {
        left: 53% !important;
        transition: all 0.4s ease-in-out;
    }
    .switch-content {
        color: #20a89e;
        transition: all 0.3s ease-in-out;
    }
}
.form-create {
    background: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 650px;
    margin: 20px;
    padding: 50px;
    .form-detail {
        height: 100%;
    }
    .col-lg-6 {
        padding: 0;
        align-items: baseline;
    }
    .row {
        margin: 0;
        padding: 0;
    }
    label {
        width: 30%;
        font-style: normal;
        font-family: "Rubik";
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #012927;
    }
    input {
        background: #ffffff;
        border: 1px solid #e9e9e9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        transition: all 0.3s ease-in-out 0.2s;
        &::placeholder {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #b3b3b3;
        }
        &:focus-visible {
            outline: none;
        }
    }
    .group-input {
        display: inline-block;
        position: relative;
        .error-message {
            position: absolute;
            bottom: -25px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            color: #9c4141;
            line-height: 22px;
            left: 10px;
        }
    }
    .tag-name {
        background: #ffffff;
        border: 1px solid #e9e9e9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        width: fit-content;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        padding: 4px 17px 4px 9px;
        line-height: 22px;
        color: #b3b3b3;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        span {
            position: absolute;
            right: -3px;
            top: -4px;
            scale: 0.8;
            cursor: pointer;
        }
    }
}
.material-header {
    background: unset;
}
.--button-create {
    &:hover {
        color: white;
    }
}
.form-relative {
    position: relative;
}
.create-button {
    position: absolute;
    display: inline-block;
    width: fit-content;
    padding: 10px 10px;
    bottom: 0;
    right: 0;
}
.material-create-footer {
    background-color: unset;
}

//CATEGORY
.category {
    .header-description,
    .header-update {
        text-align: center;
    }
    .category-material {
        text-align: center;
    }
    .date-material {
        text-align: center;
    }
}
.form-create-category {
    height: fit-content;
}
.option-create {
    margin-bottom: 30px;
    .row {
        padding: 0;
        margin: 0;
    }
}
.drop-category {
    select {
        width: 330px;
        height: 66.35px;
        padding-left: 64px;
        background: #ededed;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8.5px;
        border: none;
        width: 100%;
        &:optional {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 34px;
            /* or 155% */

            color: #5c5c5c;
        }
    }
    .select-field {
        position: relative;
    }
    .icon-category {
        position: absolute;
        bottom: 50%;
        left: 15px;
        transform: translateY(50%);
    }
    .icon-drop-category {
        position: absolute;
        bottom: 50%;
        right: 25px;
        scale: 2;
        transform: translateY(50%);
    }
    &:nth-child(3) {
        label {
            width: 282px;
            height: 68px;
            background: #ededed;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8.5px;
            position: relative;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 64px;
            font-style: normal;
            font-family: "Rubik";
            font-weight: 400;
            font-size: 22px;
            line-height: 34px;
            color: #5c5c5c;
        }
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;
        input {
            position: absolute;
            right: 21px;
            border-radius: 50%;
            padding: 15px;
            bottom: 50%;
            transform: translateY(50%);
            &:focus {
                --tw-ring-offset-color: unset;
                --tw-ring-color: unset;
                --tw-ring-offset-shadow: unset;
                --tw-ring-shadow: unset;
            }
            &[type="checkbox"]:checked {
                background-color: $main-color;
            }
        }
    }
    &:nth-child(4) {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.create-row-category {
    width: 20.41px;
    height: 19.23px;
    background-color: #ffc856;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100%;
    &:hover {
        background-color: #d59a24;
        transition: all 0.3s ease-in-out;
    }
}
.title-category {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #14181f;
    background: #f5f5f5;
    padding: 5px;
}
.tag-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    .tag-item {
        min-width: 91px;
        min-height: 40px;
        position: relative;
    }
    label {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 50%);
        width: fit-content;
        display: inline-block;
        font-style: normal;
        font-family: "Rubik";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #14181f;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    input {
        background: #fff;
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }
    input[type="checkbox"]:checked {
        background-color: #fdcf6f;
        transform: all 0.3s ease-in-out;
        background-image: none;
    }
}
